<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.movtalent.app">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ticon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.UserProfileActivity"
                  android:screenOrientation="fullSensor"
        />

        <activity
                android:name=".HomeActivity"
                android:label="@string/title_activity_home"
                android:screenOrientation="fullSensor">

        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.TransparentA"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.AllLevelActivity"
            android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".view.CoinShopActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/><!-- 趣米的广告结束 -->
        <activity android:name=".view.WebDetailActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.ReQuestFilmActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.ReportActivitys"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.AllDownLoadActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.SettingActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.LoginActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.RegistActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.AllHistoryActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.AllFavorActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.AboutUsActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".view.SearchActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".view.AllSubjectActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".category.CategoryActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".view.OnlineDetailPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.TransparentA" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="androidx.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>